@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav>a {
    border: #88E8F2 solid 1px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #89C2D9;
}

tr:nth-child(even) {
    background-color: rgba(137,194,217, 0.3);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    margin-bottom: 100px;
}

h1 {
    color: #89C2D9;
    text-shadow: 1px 2px 2px #F2C9E0;
}

img {
    height: 200px;
}

nav {
    border-bottom: solid black 1px;
    padding: 16px;
    background-color: #F2C9E0;
}

a:hover {
    color: green;
}

a {
    text-decoration: none;
    color: #D96690;
}

footer {
    margin: 80px 0px;
    padding: 24px 0px;
    position: relative;
    bottom: 10px;
    background-color: #F28DB2;
}
